// colors

$color1:       #2b8fff; // blue
$color2:       #afaeae; // gray lighest
$color3:       #787d80; // gray lighter
$color4:       #666666; // gray darker
$color5:       #282828; // gray darkest

// fonts

$primary-font: "Montserrat", sans-serif;
