body, html {
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", arial;
  background: url("../img/d026-bg.png") no-repeat center;
  background-size: cover;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px);
          transform: perspective(800px);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
}

img, embed, object, video, svg {
  max-width: 100%;
}

body, .card, header, ul#countdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex: 0 0 750px;
      -ms-flex: 0 0 750px;
          flex: 0 0 750px;
  height: 500px;
  background: url("../img/d026-artist.png") no-repeat left center #fff;
  color: #8d9296;
  box-shadow: 0 37px 35px rgba(0, 0, 0, 0.3);
}

.wrapper {
  min-width: 450px;
  position: relative;
}

.top {
  padding: 80px 50px 65px 70px;
}

header {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

header h1 {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f204b;
}

header p {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

header p b {
  line-height: 1;
  color: #b9edf3;
  font-size: 36px;
}

footer p {
  margin: 0;
  line-height: 1;
}

footer p:first-of-type {
  color: #48cbd1;
  margin-bottom: 5px;
}

.counter {
  margin-top: 60px;
}

.counter p {
  margin-bottom: 25px;
}

ul#countdown {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#countdown li {
  -webkit-flex: 0 0 55px;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  text-transform: uppercase;
  position: relative;
  border: 1px solid #e1e1e1;
  text-align: center;
}

ul#countdown li:not(:first-of-type) {
  margin-left: 40px;
}

ul#countdown li span {
  width: 100%;
  font-size: 26px;
  color: #697079;
  opacity: .6;
  padding: 5px 0;
  display: block;
}

ul#countdown li p {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
}

ul#countdown li:first-of-type span {
  opacity: 1;
}

button.purchase {
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  padding: 0;
  outline: 0;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #b9edf3;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=style.css.map */