// General Styles
body, html {
	height: 100%;
	min-height: 100%;
}

html {
	font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	@extend %flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform: perspective(800px);
	@include font-smoothing;
	font-family: "Poppins", arial;
	font-weight: 500;
	background-color: #ecebf0;
	font-size: 1.4rem;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	line-height: 1;
}

a {
	text-decoration: none;
}

p {
	margin-top: 0;
}

img, embed, object, video, svg {
	max-width: 100%;
}
