// custom styles

.card {
	flex: 0 0 860px;
	height: 630px;
	position: relative;
	border-radius: 4px;
	background-color: #75d4da;
	color: #fff;
	&:before {
		content: '';
		width: 100%;
		height: 636px;
		position: absolute;
		top: -2px;
		right: -37px;
		z-index: 0;
		background: url('../img/day063-bg.png') no-repeat right top;
		background-size: cover;
	}
	&:after {
		content: '';
		width: 860px;
		height: 630px;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 4px;
		box-shadow: 0 1px 4px rgba(0,0,0, .1);
	}
}

.content {
	position: relative;
	max-width: 50%;
	padding: 85px 0 0 80px;
	z-index: 10;
	span {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1;
	}
	h1 {
		margin: 50px 0;
		font-size: 48px;
		font-family: "Cambo", Georgia, serif;
		font-weight: 400;
	}
	p {
		line-height: 1.2;
		margin-bottom: 35px;
	}
}

.sep {
	width: 20px;
	height: 2px;
	margin-top: 10px;
	background-color: #fff;
}

button.read-more {
	width: 140px;
	height: 40px;
	border-radius: 40px;
	border: none;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	box-shadow: 0 14px 54px rgba(244, 246, 80, .57);
	background-color: #f4f650;
	color: #45484c;
	outline: 0;
}
