.calendar
    .indicator
    .overlay
    ol.round-list.years
    ol.round-list.months
    ol.round-list.days

    .details
        h1 Events
        ul.events-container
            li.event.current(data-date="June 2, 2019")
                h2.event-title Rooftop Cinema: Trouble Makers
                p.event-date at 9:00 PM
            li.event(data-date="September 21, 2030")
                h2.event-title Rooftop Cinema: Trouble Makers
                p.event-date at 9:00 PM
            li.event(data-date="February 28, 2025")
                h2.event-title Rooftop Cinema: Trouble Makers
                p.event-date at 9:00 PM
        a(href="#") Go To Event
        ul.dots
            li.current
            li
            li