// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// hide text

@mixin hide-text {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
