// colors

$body-color:    #999999; // main text
$body-bg:       #f0f0f0; // body background color
$link-color:    #3399ff; // anchor tags
$heading-color: #232e3a; // heading color

// fonts

$primary-font: "Montserrat", sans-serif;
