// custom styles

.card {
	flex: 0 0 840px;
	position: relative;
	margin: 60px 0;
	color: #fff;
}

// Video Player
.video-js {
	background-color: transparent;
	// Play Button
	.vjs-big-play-button {
		width: 90px;
		height: 90px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -45px;
		margin-left: -45px;
		border: none !important;
		background: url('../img/d016-play.png') no-repeat center top transparent;
		background-color: transparent !important;
		background-size: 100%;
		&:before {
			display: none !important;
		}
	}
	.vjs-poster {
		outline: 0;
	}
	// Control Bar
	.vjs-control-bar {
		display: flex !important;
		width: 100% !important;
		height: 9px !important;
		bottom: -5px;
		border-radius: 10px;
		background-color: rgba(255,255,255, .1);
	}
	.vjs-slider {
		background-color: transparent !important;
	}
	.vjs-load-progress {
		background: rgba(255,255,255, .2);
	}
	.vjs-play-progress {
		background-color: #ffc952;
		&:before {
			top: -1px;
			font-size: 0.5em !important;
		}
	}
	.vjs-time-control {
		position: absolute;
		top: 5px;
		right: 0;
		width: auto;
		font-size: 14px;
		font-family: "Open Sans";
		opacity: .2;
	}
}

.vjs-play-control, .vjs-volume-menu-button, .vjs-fullscreen-control {
	display: none !important;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
	visibility: visible;
	opacity: 1;
}

.media {
	@extend %flex;
	margin-top: 65px;
	img {
		box-shadow: 0 11px 24px rgba(0,0,0, .2);
	}
	.media-body {
		margin-left: 70px;
		max-width: 540px;
		h1 {
			margin: 0 0 20px;
			font-size: 72px;
			font-weight: bold;
		}
		span {
			display: inline-block;
			margin-right: 10px;
			padding: 4px 8px;
			border-radius: 4px;
			border: 1px solid rgba(255,255,255, .2);
			&.rating {
				padding: 4px;
				border: none;
				background-color: #ffc952;
				color: #100d08;
			}
		}
		p {
			margin-top: 20px;
			padding-top: 20px;
			opacity: .3;
			border-top: 1px solid rgba(255,255,255, .5);
		}
	}
}
