// General Styles

html {
	font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	@include font-smoothing;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	line-height: 1;
}

a {
	text-decoration: none;
}

p {
	margin-top: 0;
}

img, embed, object, video, svg {
	max-width: 100%;
}

input, textarea {
	font-family: $primary-font;
	font-size: 1.6rem;
}
