section.card
    div.info
        ul.info-list
            li.current
                img(src="http://i1067.photobucket.com/albums/u422/arnellebalane/artwork-1_zpswnvhgwjz.jpg", alt="The Marcian")
                h1 The Martian
                p During a manned mission to Mars, Astronaut Mark Watney
                  | (Matt Damon) is presumed dead after a fierce storm and left
                  | behind by his crew.
                span.rating 9.1
            li
                img(src="http://i1067.photobucket.com/albums/u422/arnellebalane/artwork-2_zpsvdwakbjr.jpg", alt="Interstellar")
                h1 Interstellar
                p A team of explorers travel through a wormhole in space in an 
                  | attempt to ensure humanity's survival.
                span.rating 8.3
            li
                img(src="http://i1067.photobucket.com/albums/u422/arnellebalane/artwork-3_zpsp3mwnezb.jpg", alt="Gravity")
                h1 Gravity
                p An astronaut out of three is taken into a series of debris and 
                  | starts orbiting around the Earth. She will have to stay extremely 
                  | strong in order to keep her sanity.
                span.rating 7.9
    footer.actions
        span.rating-container
        button.cart Book Movie
        ul.navigation
            li.current
            li
            li

    form.booking-form
        button.cancel Cancel
        p.input IMAX 3D
        p.input Monday, 21
            sup st 
            | September - 18:00
        p.input 6 Adults
        div.seats
            header
                label.legend
                    span.seat
                    span.legend-label Available
                label.legend
                    span.seat.taken
                    span.legend-label Taken    
            ul.seats-container
                li.seats-row
                    - var i = 0
                    while i++ < 3
                        button.seat(type="button")
                - var i = 0
                while i++ < 6
                    li.seats-row
                        - var j = 0
                        while j++ < 7
                            button.seat(type="button")
        footer
            label.total-label Total
            p.total-price $56.90
            button.submit-button Checkout