@import url(https://fonts.googleapis.com/css?family=Varela+Round);

$size: 478px;
$color: #B3D2FA;
$grey-color: #C4C4C4;


:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
} 

body {
  background: #fff;
  font-family: 'Varela Round', Helvetica, sans-serif;
  color: $color;
}


.product-viewer {
  width: $size;
  height: $size;

  position: absolute;
  background: $color;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 30px;
  
  box-shadow:0 70px 90px rgba(0, 0, 0, 0.1), 0 100px 100px rgba(0, 0, 0, 0.05);

  header {
    float: left;
    width: 100%;
    height: 36px;
    margin-bottom: 30px;

    a {
      color: #fff;
      text-decoration: none;
    }
    // Uppercase only the first link
    > a {
      text-transform: uppercase;
      line-height: 36px;
      font-weight: 600;
      font-size: 14px;
    }

    ul {
      float: right;
      padding: 0;
      margin: 0;
      width: 314px;
      border-radius: 40px;
      background: #fff;
      height: 36px;

      li{
        display: inline-block;
        width: 32%;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 36px;

        a {
          color: #6B6B6B;
          font-size: 14px;
        }
        
        &:hover a {
          color: darken($color, 8%);
          font-weight: bold;
        }
      }
    }
  }
}

// Slider
.product-viewer_content {
  float: left;
  height: 430px;
  margin: auto;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0,0,0,0.2), 0 100px 100px rgba(0, 0, 0, 0.03);
  width: calc( #{$size} - 60px);
  position: relative;
  overflow: hidden;
}
.content-slider {
  float: left;
  height: 430px;
  margin: auto;
  background: #fff;
  width: calc( (#{$size}*3 - 60px) );
  transition: transform .35s ease;
  
  &.slide-1-active {
    transform: translate3d( 0, 0, 0);
  }
  
  &.slide-2-active {
    transform: translate3d( -($size - 60), 0, 0);
  }

   &.slide-3-active {
    transform: translate3d( -($size*2 - 120), 0, 0);
  }


  .slider-item{
    width: 420px;
    height: 100%;
    position: relative;
    float: left;
    text-align: center;

    figcaption span {
      width: 100%;
      float: left;
      text-align: center;
    }

    .desc  {
      color: $grey-color;
      margin-bottom: 4px;
      font-size: 12px;
      text-transform: uppercase;
      
      h3 {
        font-weight: bold;
      }
    }
    .name  {
      font-size: 15px;
      color: #000;
      margin-bottom: 12px;
      
      h2 {
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    span.price {
      font-weight: bold;
    }

    img {
      width: 100%;
    }
  }
}

.control-slider {
  float: left;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 5px;
    }

    a {
      text-decoration: none;
      display: block;
      width: 10px;
      height: 10px;
      margin-top: 35px;
      line-height: 70px;
      border-radius: 100%;
      background: $grey-color;
    }
    
    li.active a {
      background: $color;
    }
  }
}