// colors

$color1:       #ea4c89;
$color2:       #8aba56;
$color3:       #333333;
$color4:       #cccccc;
$color5:       #ebebeb;
$color6:       #999999;

// fonts

$primary-font: "Open Sans", sans-serif;
